<div>
    <div class="card" style="width: 50rem;">
        <div class="card-body" style="width: 50rem;">
        <h5 class="card-title" style="width: 50rem;">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted" style="width: 50rem;">{{post.id}}</h6>
        <p class="card-text" style="width: 50rem;">{{post.body}}</p>
        <a href="#" class="card-link">Reply</a>
        <a href="#" class="card-link" (click)="incrementLikes()">Like: {{post.likes}}</a>
        <a href="#" class="card-link" (click)="incrementDislikes()">Dislike: {{post.dislikes}}</a>
        </div>
    </div>
</div>